body {
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
}

.auth-container {
    display: grid;
    place-items: center;
    width: 400px;
    height: 400px;
    background-color: #ccc2a4;
    border: solid 2px blue;
    border-radius: 10%;

    .username,
    .password {
        width: 50%;
        text-align: center;

        .form-label {
            font-size: 24px;
            text-align: center;

        }

        .form-control {
            // padding: 0px 10px;
            display: flex;
            margin: 5px 0px;
            width: 100%;
            height: 30px;
            border: solid 1px blue;
            border-radius: 5px;
        }
    }

    .submit-login,
    .registry-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 10px;
        height: 30px;
        width: 100%;

        .submit-button {
            width: 50%;
            

            a {
                text-decoration: none;
                color: black;
            }
        }
    }
}