body {
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
}

.auth-container {
    display: grid;
    place-items: center;
    width: 400px;
    height: 400px;
    background-color: #ccc2a4;
    border: solid 2px blue;
    border-radius: 10%;
}

.auth-container .username,
.auth-container .password {
    width: 50%;
    text-align: center;
}

.auth-container .username .form-label,
.auth-container .password .form-label {
    font-size: 24px;
    text-align: center;
}

.auth-container .username .form-control,
.auth-container .password .form-control {
    display: flex;
    margin: 5px 0px;
    width: 100%;
    height: 30px;
    border: solid 1px blue;
    border-radius: 5px;
}

.auth-container .submit-login,
.auth-container .registry-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    height: 30px;
    width: 100%;
}

.auth-container .submit-login .submit-button,
.auth-container .registry-form .submit-button {
    width: 50%;
}

.auth-container .submit-login .submit-button a,
.auth-container .registry-form .submit-button a {
    text-decoration: none;
    color: black;
}