body{
    margin: 0;
}
.header{
    height:100px;
    background-color: #d9d7aa;
    display: flex;
    border: 2px solid black;
    .status{
        width: 50%;
        display: flex;
        // background-color: blue;
        align-items: center;
        justify-content: center;
    }
    .timer{
        display: flex;
        width: 50%;
        // background-color: aqua;
        align-items: center;
        justify-content: center;
    }
}