body {
    background-color: #fbf2e9;
}

.search-button,
.details-button {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #e1e1e1;
    border-color: #a8a9a9;
    color: black;

    &:hover {
        background-color: darken($color: #e1e1e1, $amount: 20%);
        border-color: darken($color: #a8a9a9, $amount: 20%);
    }

    &:active {
        background-color: darken($color: #e1e1e1, $amount: 30%) !important;
        border-color: darken($color: #a8a9a9, $amount: 30%) !important;
    }
}

.search-container {
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .head {
        display: flex;

        h1 {
            font-size: 25px;
            font-weight: 600;
        }
    }

    .search-form {
        border: 2px solid #a8a9a9;
        border-radius: 10px;
        font-size: 18px;
    }
}

.films-head,
.details-head {
    display: flex;
    width: 100%;
    justify-content: center;
    .error{
        color: red !important;
    }
}

.film-data {
    justify-content: center;

    .film-card {
        border: 2px solid #a8a9a9;
        border-radius: 10px;
        margin: 10px;
        height: 330px;
        padding: 10px;
        width: 450px;

        .card {
            height: 100%;
            border: none;
            background-color: transparent;
        }

        img {
            width: 180px;
            background-color: transparent;
        }

        .film-type {
            margin-bottom: 10px;
            font-size: 18px;
        }

        .film-title {
            margin: 10px 0px;
            font-weight: 600;
        }

        .film-year {
            margin: 30px 0px;
        }
    }
}

.details-container {
    display: flex;
    justify-content: center;
    width: 100%;

    .details-card {
        position: relative;
        display: flex;
        align-items: center;
        border: 2px solid #a8a9a9;
        border-radius: 10px;
        margin-bottom: 70px;
        width: 1000px;

        img {
            max-height: 450px;
            max-width: 300px;
            height: 450px;
            margin: 10px;
        }

        .details-body {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;

            .details-description {
                display: flex;
            }

            .details-type {
                display: flex;
                min-width: 80px;
                height: 100%;
                align-items: center;
                font-size: 16px;
                font-weight: 700;
            }

            .details-value {
                font-size: 19px;
            }
        }
        .close{
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            top: 2%;
            left: 95%;
            border: 1px solid #e1e1e1;
            border-radius: 50%;
            transition: 0.1s;
            &:hover{
                background-color: darken($color: #e1e1e1, $amount: 20%);
                border-color: darken($color: #a8a9a9, $amount: 20%);
            }
        }
    }
}

.pagination {
    --bs-pagination-focus-box-shadow: none;
}

.active {
    --bs-pagination-active-bg: #5b5d5d;
    --bs-pagination-active-border-color: #959595;
    color: white;
}

.page-link {
    background-color: #e1e1e1;
    border-color: #a8a9a9;
    color: black;

    &:hover {
        background-color: darken($color: #e1e1e1, $amount: 20%);
        border-color: darken($color: #a8a9a9, $amount: 20%);
        color: white;
    }

    &:active {
        background-color: darken($color: #e1e1e1, $amount: 30%) !important;
        border-color: darken($color: #a8a9a9, $amount: 30%) !important;
        color: white;
    }
}

* {
    user-select: none;
}