body {
  background-color: #fbf2e9;
}

.disabled,
a.disabled {
  --bs-pagination-disabled-bg: #e1e1e1;
  --bs-pagination-disabled-border-color: #a8a9a9;
}

.search-button,
.details-button {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #e1e1e1;
  border-color: #a8a9a9;
  color: black;
}
.search-button:hover,
.details-button:hover {
  background-color: #aeaeae;
  border-color: #757676;
}
.search-button:active,
.details-button:active {
  background-color: #959595 !important;
  border-color: #5b5d5d !important;
}

.search-container {
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.search-container .head {
  display: flex;
}
.search-container .head h1 {
  font-size: 25px;
  font-weight: 600;
}
.search-container .search-form {
  border: 2px solid #a8a9a9;
  border-radius: 10px;
  font-size: 18px;
}

.films-head,
.details-head {
  display: flex;
  width: 100%;
  justify-content: center;
}
.films-head .error,
.details-head .error {
  color: red !important;
}

.film-data {
  margin: 0px 11px;
  justify-content: center;
}
.film-data .film-card {
  border: 2px solid #a8a9a9;
  border-radius: 10px;
  margin: 10px;
  height: 330px;
  padding: 10px;
  width: 450px;
}
.film-data .film-card .card {
  height: 100%;
  border: none;
  background-color: transparent;
}
.film-data .film-card img {
  width: 180px;
  background-color: transparent;
}
.film-data .film-card .film-type {
  margin-bottom: 10px;
  font-size: 18px;
}
.film-data .film-card .film-title {
  margin: 10px 0px;
  font-weight: 600;
}
.film-data .film-card .film-year {
  margin: 30px 0px;
}

.details-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.details-container .details-card {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid #a8a9a9;
  border-radius: 10px;
  margin-bottom: 70px;
  width: 1000px;
}
.details-container .details-card img {
  max-height: 450px;
  max-width: 300px;
  height: 450px;
  margin: 10px;
}
.details-container .details-card .details-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.details-container .details-card .details-body .details-description {
  display: flex;
}
.details-container .details-card .details-body .details-type {
  display: flex;
  min-width: 80px;
  height: 100%;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
}
.details-container .details-card .details-body .details-value {
  font-size: 19px;
}
.details-container .details-card .close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  top: 2%;
  left: 95%;
  border: 1px solid #e1e1e1;
  border-radius: 50%;
  transition: 0.1s;
}
.details-container .details-card .close:hover {
  background-color: #aeaeae;
  border-color: #757676;
}

.pagination {
  --bs-pagination-focus-box-shadow: none;
}

.active {
  --bs-pagination-active-bg: #5b5d5d;
  --bs-pagination-active-border-color: #959595;
  color: white;
}

.page-link {
  background-color: #e1e1e1;
  border-color: #a8a9a9;
  color: black;
}
.page-link:hover {
  background-color: #aeaeae;
  border-color: #757676;
  color: white;
}
.page-link:active {
  background-color: #959595 !important;
  border-color: #5b5d5d !important;
  color: white;
}
.page-link:disabled {
  background-color: #e1e1e1 !important;
  border-color: #a8a9a9 !important;
  color: black !important;
}

.backToTop {
  position: fixed;
  background-color: #e1e1e1;
  text-decoration: none;
  border: 2px solid #a8a9a9;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: black;
  text-align: center;
  bottom: 80px;
  right: 40px;
  line-height: 40px;
  cursor: pointer;
  transform: rotate(270deg);
  transition: all 0.2s ease;
  font-size: 30px;
}
.backToTop:hover {
  background-color: #aeaeae;
  border-color: #757676;
  color: white;
}
.backToTop:active {
  display: block;
  background-color: #959595 !important;
  border-color: #5b5d5d !important;
  color: white;
}

* {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}/*# sourceMappingURL=style.css.map */